@{
    ViewBag.Title = "Home Page";
}

<h1>Testeando</h1>
{{nombre}}

<div ng-controller="TodoController">
    <ul>
        <li ng-repeat="actividad in todo">
            <h1>{{ actividad.descripcion }}</h1>
            <p>{{ actividad.fecha }}</p>
        </li>
    </ul>
    <form ng-submit="addActv()">
        <input type="text" ng-model="newActv.descripcion" />
        <input type="datetime-local" ng-model="newActv.fecha" />
        <input type="submit" value="Guardar actividad" />
    </form>
</div>

<div ng-controller="HttpController">
    <ul>
        <li ng-repeat="post in posts">
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </li>
    </ul>

    <ul>
        <li ng-repeat="post in posts">
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </li>
    </ul>
</div>